@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* Home */
#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#home .logo img{
    margin-top: 22px;
    width:156px;
    height: 68px;;
}
#home .product-detail, #home .seller{
    width:233px;
    max-height:69px;
    border:1px solid #707070;
    padding: 21px;
    font: Medium 32px/ 50px Roboto;
    letter-spacing: 0px;
    color:#000000;
    text-decoration: none;
}

#home .product-detail{
    margin-top: 150px;
}

#home .seller{
    margin-top: 52px;
}

/* Seller */
#seller-navbar{
    display:flex;
    justify-content: space-between;
    height:30px;
}

#seller-navbar .logo{
    margin-left:66px;
    width: 122px;
    height:52px;
}
#seller-navbar .links{
    margin: 13px 0px 0px 0px;
    
}
#seller-navbar .links .link{
    text-decoration: none;
    font: 13px/18px Roboto;
    color:black;
    margin-right:40px;
}
#seller-navbar .links .banglore .pin{
    margin-right: 3px;
    width:8px;
}

#seller-navbar .links .signup{
    background-color: #0F5EEA;
    color:white;
    padding:8px 18px;
    border-radius: 4px;
    margin-right: 66px;
}

/* Seller Buttons */

.seller-buttons{
    position: fixed;
    bottom:0px;
    right:0px;
    display: flex;
    padding:10px 66px;
    width:100%;
    justify-content: flex-end;
    z-index: 1;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px -2px 12px #0000001A;
}
.seller-buttons .button{
    color: #0F5EEA;
    font : 13px/18px Roboto;
    border:none;
    margin-left: 52px;
    background-color: white;
}
.seller-buttons .button img{
    vertical-align: middle;
    height:17px;
    margin-right: 20px;

}
.seller-buttons .buy-now{
    background-color:#0F5EEA;
    color:#ffffff;
    border-radius: 3px;
    padding:12px 36px 12px 9px;
}

/* Seller list */
.seller-list{
    margin:50px 66px;
}

.seller-list .titles{
    display: flex;
    font: 13px/20px Roboto;
    margin-bottom:12px;
}
.seller-list hr{
    height: 1px;
    background-color: #f1f1f1;
    border: none;
}
.seller-list .titles .seller-list-col-1{
    width:900px;
    overflow: hidden;
}
.seller-list .list{
    display: flex;
    flex-direction: column;
}
.seller-list .list .seller{
    display: flex;
    margin: 18px 0px;
    font: 13px/18px Roboto;
}

.seller-list .list .seller .seller-list-col-1{
    width:900px;
    display: flex;
    align-items: center;
} 
.seller-list .list .seller .seller-list-col-1 img{
    width:82px;
    height:60px;
    border-radius: 6px;
    vertical-align: middle;
    margin-right: 16px;
}
.seller-list .list .seller .seller-list-col-1 .circle{
    width:16px;
    height:16px;
    border: 2px solid #0F5EEA;
    border-radius: 8px;
    margin-right:17px;
    
}
.seller-list .list .seller .seller-list-col-1 .inner-circle{
    width:8px;
    height:8px;
    border-radius: 8px;
    background-color: #0F5EEA;
    margin:2px;
}
.seller-list .list .seller .seller-list-col-1 .seller-details{
    margin-right: 28px;
}
.seller-list .list .seller .seller-list-col-1 .seller-details .city{
    opacity: 0.64;
}
.seller-list .list .seller .seller-list-col-1 .seller-details .distance{
    color:#FF601E;
}

.seller-list .list .seller .seller-list-col-1 .rating{
    height:60px;
    position: relative; 
}
.seller-list .list .seller .seller-list-col-1 .rating div{
    position: absolute;
    top:4px;
    left:0px;
    display:flex;
    color: #ffffff;
    background-color: #027C43;
    align-items: center;
    font: 11px/16px Roboto;
    border-radius: 3px;
    padding:2px 6px;
}
.seller-list .list .seller .seller-list-col-1 .rating div i{
    font-size: 8px;
    margin: 0px 0px 2px 4px;
}

/* .seller-list .list .seller .seller-list-col-1 .rating div img{
    vertical-align: middle;
    width: 8px;
    height: auto;
} */

.seller-list .list .seller .seller-list-col-2{
    display: flex;
    align-items: center;
}
.seller-list .list .seller .seller-list-col-2 div{
    margin-right: 9px;
}
.seller-list .list .seller .seller-list-col-2 .elocals-price{
    font: 20px/24px Roboto;
}
.seller-list .list .seller .seller-list-col-2 .seller-price{
    font: 13px/16px Roboto;
    opacity: 0.34;
    text-decoration: line-through;
}
.seller-list .list .seller .seller-list-col-2 .discount{
    font: 13px/16px Roboto;
    color: #FF601E;
}


/* Return to product */
.return-to-product{
    margin:50px 66px 0px 66px;
    display: flex;
    font : 13px/18px Roboto;
    align-items: center;
}
.return-to-product .text{
    opacity: 0.44;
    margin-right: 686px;
}
.return-to-product div img{
    vertical-align: middle;
    height:50px;
}


/* Product */
/* Product Navbar */

#product-navbar{
    display:flex;
    justify-content: space-between;
    height:30px;
    margin-bottom: 20px;
}

#product-navbar .logo{
    margin-left:66px;
    width: 122px;
    height:52px;
}
#product-navbar .links{
    margin: 13px 0px 0px 0px;
    
}
#product-navbar .links .link{
    text-decoration: none;
    font: 13px/18px Roboto;
    color:black;
    margin-right:40px;
}
#product-navbar .links .link img{
    vertical-align: middle;
}
#product-navbar .links .banglore .pin{
    margin-right: 3px;
    width:8px;
    
}

#product-navbar .links .shopping-bag img{
    margin-right: 3px;
    height:28px;
}
#product-navbar .links .profile img{
    border-radius: 32px;
    height:32px;
    width:32px;
    overflow: hidden;
}
#product-navbar .links .profile img{
    margin-right: 3px;
    height:32px;
}


/* Reviews */
.product-reviews{
    margin: 56px 66px 0px 66px;
}
.product-reviews .total-reviews{
    font: 18px/22px Roboto;
    opacity: 0.64;
}
.product-reviews .rating i{
 
   font-size: 12px; 
    margin-right: 2px;
    color:#FFC600;
}
.product-reviews .rating .white{
    color: #D7D7D7;
}
.product-reviews .review{
    margin:40px 0px 0px 0px;
    display: flex;
}
.product-reviews .review .profile{
    font: 15px/18px Roboto;
    width:32px;
    height:32px;
    border-radius: 16px;
    color:#ffffff;
    background-color: #FFAE76;
    text-align: center;
    padding: 6px 11px;
    margin-right: 12px;
}
.product-reviews .review .review-body{
    display: flex;
    flex-direction: column;
}
.product-reviews .review .review-body .review-text{
    font:15px/20px Roboto;
    opacity: 0.54;
}
.product-reviews .review .review-body .review-details{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 17px;
}
.product-reviews .review .review-body .review-details .time,.product-reviews .review .review-body .review-details div .name{
    font: 10px/12px Roboto;
    color: #878787;
}
.product-reviews .review .review-body .review-details div .name{
    margin-right: 9px;
}
.product-reviews .review .review-body .review-details div{
    display: flex;
    align-items: center;
}
.product-reviews .review .review-body .review-details div .rating{
    font:10px/12px Roboto;
    background: #027C43 0% 0% no-repeat padding-box;
    border-radius: 4px;
    color:white;
    padding:2px 5px;
    margin-right: 44px;
}
.product-reviews .review .review-body .review-details div .rating i{
    color:#ffffff;
    font-size:8px;
    vertical-align: middle;
    margin:0px 0px 2px 3px
}

.product-reviews .review .review-body .review-details div .place{
    font:10px/14px Roboto;
    opacity: 0.54;
}
.product-reviews .see-more{
    margin-top: 56px;
}

.product-reviews .see-more a{
    font: 12px/14px Roboto;
    color: #0F5EEA;
}

/* Any question */
.any-question{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:52px 0px 0px 0px;
    width:100%;
}
.any-question .heading{
    font:24px/14px Roboto;
    font-weight: lighter;
    letter-spacing: 0.9px;
    opacity: 0.87;
    margin:52px 0px 10px 0px;
}
.any-question .sub-heading{
    font:14px/14px Roboto;
    letter-spacing: 0px;
    opacity: 0.64;
}
.any-question .whatsapp{
    width:48px;
    height: 48px;
    margin:42px 0px 52px 0px;
}
.follow-us-contact-us-container{
    width:100%;
    display: flex;
    margin-top: 46px;
}
.follow-us-contact-us-container .col-1{
    width: 460px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.follow-us-contact-us-container .col-1 .cities-img{
    width:62px;
    height: 62px;
    margin-bottom: 18px;
}
.follow-us-contact-us-container .col-1 .cities-we-are-in{
    font: 18px/28px Roboto;
    opacity: 0.87;
    margin-bottom: 20px;
}
.follow-us-contact-us-container .col-1 .pune{
    width:48px;
    height: 70px;
    margin-bottom: 142px;
}
.follow-us-contact-us-container .col-2 .row-1{
    display: flex;
}

.follow-us-contact-us-container .col-2 .row-1 .follow-us{
    width:460px;
}
.follow-us-contact-us-container .col-2 .row-1 .heading,.follow-us-contact-us-container .col-2 .row-2 .heading {
    font: 12px/18px Roboto;
    letter-spacing: 0px;
    opacity: 0.87;
    margin-bottom: 16px;
}
.follow-us-contact-us-container .col-2 .row-1 .follow-us .text,.follow-us-contact-us-container .col-2 .row-1 .contact-us .text{
    font: 10px/16px Roboto;
    letter-spacing: 0px;
    opacity: 0.74;
    width:266px;
}
.follow-us-contact-us-container .col-2 .row-1 .follow-us .social-media .social-media-icon{
    height: 13px;
    width:auto;
    margin: 6px 12px 25px 0px; 
}
.follow-us-contact-us-container .col-2 hr{
    border:0px;
    height: 1px;
    background-color: #e1e1e1;
    margin-bottom: 33px;
}
.follow-us-contact-us-container .col-2 .row-2{
    display: flex;
}
.follow-us-contact-us-container .col-2 .row-2 div{
    width:220px
}
.follow-us-contact-us-container .col-2 .row-2 .link-list .link{
    font: 10px/21px Roboto;
    letter-spacing: 0px;
    color: #262626;
    margin-bottom: 20px;
}
.follow-us-contact-us-container .col-2 .row-3 {
    display: flex;
    margin-top: 26px;
    justify-content: space-between;
    margin-bottom:18px
}
.follow-us-contact-us-container .col-2 .row-3 p{
    font: 10px/16px Roboto;
    letter-spacing: 0px;
    color: #252525;
}
.follow-us-contact-us-container .col-2 .row-3 div{
    margin-right: 165px;
}
.follow-us-contact-us-container .col-2 .row-3 div img{
    height:16px;
    margin-left: 7px;
}

/* Request product */
.request-product{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:0px 66px;
    background-color: #F1F6FF;
    box-shadow: 0px 1px 4px #0000001F;
    border-radius: 8px;
}
.request-product .heading{
    margin-top: 46px;
    font:lighter 24px/30px Roboto;
    letter-spacing: 0.36px;
    color: #0F5EEA;
}

.request-product .icons{
    margin-top: 40px;
}
.request-product .icons img{
    height:16px;
    margin-right: 60px;
}
.request-product .icons img:last-child{
    margin-right: 0px;
}
.request-product .request-product-btn{
    margin:22px 0px 20px 0px;
    padding:10px 16px;
    font: 14px/16px Roboto;
    color:#ffffff;

    background-color: #0F5EEA;
    box-shadow: 0px 2px 4px #0000004D;
    border-radius: 3px;
    border: transparent
}

/* Similar products section */
.similar-products{
    margin:60px 66px 86px 66px;
}
.similar-products .heading{
    font:18px/18px Roboto;
    letter-spacing: 0px;
    opacity: 0.74;
}
.similar-products .products{
    margin-top:24px;
    display: flex;
    justify-content: space-between;
}
.similar-products .products .product{
    width:266px;
    box-shadow: 0px 2px 4px #0000001F;
    border-radius: 6px;
}
.similar-products .products .product div{
    text-align: center;
    width:100%
}
.similar-products .products .product div img{
    height:122px;
    margin: 26px 0px; 
}
.similar-products .products .product .specs{
    margin:0px 9px 18px 26px;
    font: 13px/19px Roboto;
    letter-spacing: 0.2px;
    opacity: 0.84;
}

.similar-products .products .product .price{
    margin:0px 9px 26px 26px;
    font: 14px/11px Roboto;
    opacity: 0.87;
}
.similar-products .products .product .seller{
    margin:0px 0px 6px 26px;
    font: 12px/14px Roboto;
    letter-spacing: 0px;
    opacity: 0.44;
}

.similar-products .products .product .name{
    margin:0px 0px 16px 26px;
    font: 12px/14px Roboto;
    letter-spacing: 0px;
    opacity: 0.74;
}

/* Specification Description */
.specification-description{
    margin: 50px 66px;
    border: 1px solid #D4D5D9;   
}
.specification-description .menu{
    display:flex;
    box-shadow: 0px 0px 1px #00000029;
    border: 1px solid #D4D5D9;
    letter-spacing: 0px;
    color: #000000;
}
.specification-description .menu p{
    font: 14px/16px Roboto;
    opacity:0.54;
    padding:26px 42px;
}
.specification-description .menu .specification-op{
    margin-right: 116px;
}
.specification-description .specification{
    display: flex;
    flex-direction: column;
}
.specification-description .specification div{
    display: flex;
    margin-left:42px;
    margin-top:38px;
}
.specification-description .specification div p{
    font: 14px/17px Roboto;
    letter-spacing: 0px;
    opacity: 0.84;
}

.specification-description .specification div p:first-child{
    width:212px;
    font: 14px/16px Roboto;
    opacity: 0.64
}

.specification-description .specification .see-more{
    font: 12px/14px Roboto;
    letter-spacing: 0px;
    color: #0F5EEA;
    margin: 38px 0px 42px 42px
}

.specification-description .description{
    margin: 0px 42px;
}
.specification-description .description p{
    padding:38px 0px 0px 0px;

}
.specification-description .description p:last-child{
    margin-bottom: 50px;

}
.specification-description .description .heading{
    font:14px/20px Roboto;
    font-weight: bold;
    letter-spacing: 0px;
    opacity: 0.74;
}

.specification-description .description .text{
    font:14px/20px Roboto;
    letter-spacing: 0px;
    opacity: 0.64;
}


/* Product section */
.product-section{
    margin:50px 66px;
}
.product-section .navigation{
    display: flex;
    justify-content: space-between;
    font: 14px/16px Roboto;
    letter-spacing: 0px;
    opacity: 0.54;
}
.product-section .navigation div img{
    vertical-align: middle;
    margin-right: 8px;
    width:16px;
    height:16px;
}
.product-section .row{
    display: flex;
}
.product-section .row .col-1{
    width:472px;   
    overflow:hidden;
}
.product-section .row .col-1 .row-1 {
    display: flex;
    justify-content: flex-end;
    margin-top:24px;
}
.product-section .row .col-1 .row-1 img{
    height: 16px;
    margin-left: 26px;
}
.product-section .row .col-1 .row-2 {
    display: flex;
    margin-top:26px;
    margin-bottom: 48px;
}
.product-section .row .col-1 .row-2 .more-images{
    width:56px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.product-section .row .col-1 .row-2 .more-images img{
    height:42px;
    margin-bottom: 30px;
}
.product-section .row .col-1 .row-2 .more-images .p1{
    font:16px/24px Roboto;
    letter-spacing: 0px;
    opacity: 0.74;
}
.product-section .row .col-1 .row-2 .more-images .p2{
    font: 10px/24px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.54;
    margin-top:-10px;
}

.product-section .row .col-1 .row-2 .product-image{
    display: flex;
    width:410px;
}
.product-section .row .col-1 .row-2 .product-image img{
    height: 388px;
    margin-top: -42px;
}
.product-section .row .col-1 .row-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:106px
}
.product-section .row .col-1 .row-3 .seller-info {
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #FF8F43;
    border-radius: 4px;
}
.product-section .row .col-1 .row-3 .seller-info{
    display:flex
}

.product-section .row .col-1 .row-3 .seller-info img{
    height:32px;
    margin-right: 3px;
    margin:2px 3px;
}
.product-section .row .col-1 .row-3 .seller-info div{
    margin-top: 4px;
}
.product-section .row .col-1 .row-3 .seller-info div p{
    font: 12px/14px Roboto;
    letter-spacing: 0px;
    opacity: 0.54;
    
}
.product-section .row .col-1 .row-3 .seller-info div p:last-child{
    opacity: 1;
}

.product-section .row .col-1 .row-3 .more-sellers{
    font: 12px/14px Roboto;
    letter-spacing: 0px;
    color: #3F72E9;
}
.product-section .row .col-1 .row-3 .more-sellers img{
    vertical-align: middle;
    height:16px;
    margin-left:22px;
}
.product-section .row .col-2{
    margin: 22px 0px 0px 96px
}
.product-section .row .col-2 .row-1 p{
    font: 16px/24px Roboto;
    letter-spacing: 0px;
    opacity: 0.87;
    margin-bottom: 24px;
}
.product-section .row .col-2 .row-1 ul{
    margin-left:17px;
}

.product-section .row .col-2 .row-1 ul li{
    font: 13px/16px Roboto;
    letter-spacing: 0px;
    opacity: 0.64;
    margin-bottom: 12px;
}
.product-section .row .col-2 .row-1 ul li:last-child{
    margin-bottom: 36px;
}
.product-section .row .col-2 .row-2{
    display: flex;
    align-items: center;
    margin-bottom:18px;
}
.product-section .row .col-2 .row-2 p{
    font: 12px/14px Roboto;
    letter-spacing: 0px;
    opacity: 0.54;
    margin-right: 20px;
}
.product-section .row .col-2 .row-2 input{
    width:40px;
    height:26px;
    border: 1px solid #3F72E9;
    border-radius: 2px;
    padding:0px 6px;
}
.product-section .row .col-2 .row-2 img{
    height:34px;
    margin-right:16px;
    border: 1px solid #3F72E9;
    border-radius: 2px;
}
.product-section .row .col-2 .row-2 img:nth-child(3){
    border: 1px solid rgba(0,0,0,0.35);
    margin-right: 42px;
}

.product-section .row .col-2 .row-3{
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}
.product-section .row .col-2 .row-3 span:nth-child(1){
    font: Bold 22px/28px Roboto;
    margin-right: 6px;
}
.product-section .row .col-2 .row-3 span:nth-child(2){
    text-decoration: line-through;
    font: Bold 14px/16px Roboto;
    opacity: 0.34;
    margin-right: 6px;

}
.product-section .row .col-2 .row-3 span:nth-child(3){
    font: Bold 14px/16px Roboto;
    color: #FF601E;
}

.product-section .row .col-2 .row-4{
    font:11px/12px Roboto;
    color: #0F5EEA;
    margin-bottom:20px;
}
.product-section .row .col-2 .row-5{
    margin-bottom: 16px;
}
.product-section .row .col-2 .row-5 span{
    padding:12px 21px;
    font: 12px/14px Roboto;
    color: #FF601E;
    margin-right: 7px;
}

.product-section .row .col-2 .row-6{
    display: flex;
    padding:10px 66px;
    flex-wrap: wrap;
    /* margin:0; */
    padding:0;
}
.product-section .row .col-2 .row-6 .btn{
    margin-right: 16px;
    font: 14px/16px Roboto;
    color: #0F5EEA;
    padding:12px 36px 12px 14px;
    border:none;
    background-color: white;
    margin-bottom: 26px;
}

.product-section .row .col-2 .row-6 .btn img{
    vertical-align: middle;
    height:14px;
    margin-right:20px;
}
.product-section .row .col-2 .row-6 .btn:first-child{
    color:#ffffff;
    background-color: #0F5EEA;
    box-shadow: 0px 2px 4px #0000004D;
    border-radius: 4px;
}
.product-section .row .col-2 .row-7{
    display: flex;
    justify-content: space-between;
}
.product-section .row .col-2 .row-7 .item{
    display: flex;
}
.product-section .row .col-2 .row-7 .item img{
    height:26px;
    margin-right:14px
}
.product-section .row .col-2 .row-7 .item div p:first-child{
    font: 10px/11px Roboto;
    opacity: 0.64;
}

.product-section .row .col-2 .row-7 .item div p:last-child{
    font: 11px/12px Roboto;
    opacity: 0.84;
}






